<!DOCTYPE html>
<html>
<head>
  <title>AdsenseCrawlerForPrivate</title>
  <%= stylesheet_link_tag    "adsense_crawler_for_private/application" %>
  <%= javascript_include_tag "adsense_crawler_for_private/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
